body{
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Lobster Two', sans-serif;
    font-size: 50px;
    
}

    main{
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        border-radius: 10%;
        margin-left: 300px;
        margin-right: 300px;
        align-items: center;
        
    }

img{
    opacity: 100%;
}

p{
    color: white;
    text-align: center;
}

h2{
    color: white;
    background-color: rgb(255, 0, 0, 0.1);
    border-radius: 15px;
    font-size: smaller;
    display: inline;
    margin-right: 190px;
    text-align: left;
}

h3{
    color: white;
    border-radius: 15px;
    font-size: large;
}

ul{
    color: white;
}

ol{
    color:white;
    margin-right: 100px;
}


h4{
    color: white;    
}

article{
    display: grid;
    grid-template-columns: 50% 50%;
}

.vänster{
    padding-left: 50px;
}

h5{
    color: white;
    margin-right: 10px;
}


.happy{
    display:flex;
    position: fixed; bottom: 0px; right: 0px
}

a{
    color: white;
}